<nav class="dit-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8 col-lg-9">
                <ul class="dit-footer--list">
                    <li><a href="/">{{labels.home}}</a></li>
                    <li><a href="/{{locale.country}}/industries">{{labels.industries}}</a></li>
                    <li><a href="/{{locale.country}}/setup-guide">{{labels.setup_guide}}</a></li>
                    <li><a href="#">{{labels.privacy}}</a></li>
                    <li><a href="/{{locale.country}}/terms-and-conditions">{{labels.terms}}</a></li>
                    <li><a href="#">{{labels.contact}}</a></li>
                </ul>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-1 dit-footer--logo">
                <img class="img-responsive" src="/media/logos/hmg-logo.png" alt="">
                <img class="img-responsive" src="/media/logos/iigb-logo-big-white.png" alt="">
            </div>
        </div>
    </div>
</nav>