<div class="container-fluid">
  <section class="container" style="margin-top:20rem;">
    <div class="container-page">
      <div class="col-md-4" style="min-height:58rem; border: 1px solid;">
        <h3 class="dark-grey">How we help</h3>
        <p>
          The Department for International Trade provides impartial help and advice for foreign investors. We can help you through your investment journey and best position you to find success in the UK, our services include:
        </p>
        <div class="row bottom-buffer">
          <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:red;"></span>
            </button>
          </div>
          <div class="col-md-7">
            <p>Linking you to a network of business support services.</p>
          </div>
        </div>
        <div class="row bottom-buffer">
          <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:red;"></span>
            </button>
          </div>
          <div class="col-md-7">
            <p>Providing you location and market insight based on your needs.</p>
          </div>
        </div>
        <div class="row bottom-buffer">
          <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:red;"></span>
            </button>
          </div>
          <div class="col-md-7">
            <p>Getting you access to relevant industry events.</p>
          </div>
        </div>
        <div class="row bottom-buffer">
          <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:red;"></span>
            </button>
          </div>
          <div class="col-md-7">
            <p>Sending you a curated newsfeed specific to your industry.</p>
          </div>
        </div>
        <div class="row bottom-buffer">
          <div class="col-md-3">
            <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:red;"></span>
            </button>
          </div>
          <div class="col-md-7">
            <p>Providing you with an account manager to work with you through your investment journey.</p>
          </div>
        </div>
      </div>
      <div class="col-md-8" style="min-height:58rem;border: 1px solid;">
        <form role="form" action="" method="post">
          <div class="stepwizard" style="position: absolute; right:10px; top: 20px;">
            <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn active-selection btn-circle step">1</a>
              </div>
              <div class="stepwizard-step">
                <a href="#step-2" type="button" class="step" disabled="disabled">2</a>
              </div>
              <div class="stepwizard-step">
                <a href="#step-3" type="button" class="step" disabled="disabled">3</a>
              </div>
            </div>
          </div>
          <div class="row setup-content" id="step-1">
            <div class="col-lg-12">
              <div class="col-md-12" style="min-height:58rem;">
                <h3 style="margin-bottom: 30px; margin-left: 15px;"> Your contact details</h3>
                <div class="form-group col-lg-10">
                  <label class="control-label">Full Name</label>
                  <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter First Name"  />
                </div>
                <div class="form-group col-lg-10">
                  <label class="control-label">Email</label>
                  <input type="text" required="required" class="form-control" placeholder="Enter your email address" />
                </div>
                <div class="form-group col-lg-6">
                  <label class="control-label">Phone (optional)</label>
                  <input type="text" required="required" class="form-control" placeholder="Enter your telephone number" />
                </div>
                <div class="form-group col-lg-8">
                  <label class="control-label">City</label>
                  <input type="text" required="required" class="form-control" placeholder="Enter the city you reside in" />
                </div>
                <div class="form-group col-lg-12 push-to-bottom" style="position: absolute; bottom: 2rem; right: 2rem;">
                  <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next<span class="glyphicon glyphicon-triangle-right" style="margin-left:20px;"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row setup-content" id="step-2">
            <div class="col-lg-12">
              <div class="col-md-12" style="min-height:58rem;">
                <h3 style="margin-bottom: 30px; margin-left: 15px;"> Your investment</h3>
                <div class="form-group col-lg-8 bottom-buffer">
                  <label for="turnover">Annual Turnover</label>
                  <select class="form-control" id="turnover">
                    <option value="" disabled selected>Please select</option>
                    <option>Under £100,000</option>
                    <option>Between £100,000 and £1 million</option>
                    <option>Between £100,000 and £1 million</option>
                    <option>Between £1 million and £10 million</option>
                    <option>Between £10 million and £50 million</option>
                    <option>Between £50 million and £100 million</option>
                    <option>More than £100 million</option>
                  </select>
                </div>
                <div class="form-group col-lg-8">
                  <label for="sel1">Number of staff</label>
                  <select class="form-control" id="staff">
                    <option value="" disabled selected>Please select</option>
                    <option>Less than 10</option>
                    <option>Between 10 and 50</option>
                    <option>Between 50 and 250</option>
                    <option>More than 250</option>
                  </select>
                </div>
                <div class="form-group col-lg-10">
                  <label class="control-label">Do you have any locations in mind?</label>
                  <fieldset class="inline">
                    <label class="block-label" for="radio-inline-1">
                      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                      Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                      No
                    </label>
                  </fieldset>
                </div>
                <div class="form-group col-lg-8">
                  <label for="location">Which parts of the country are you considering?</label>
                  <select class="form-control" id="location">
                    <option value="" disabled selected>Please select</option>
                    <option>London and the South East</option>
                    <option>Bristol and the South West</option>
                    <option>Birmingham and the Midlands</option>
                    <option>Manchester and the North West</option>
                    <option>Newcastle and the North East</option>
                    <option>Cardiff and Wales</option>
                    <option>Edinburgh and Southern Scotland</option>
                    <option>Aberdeen and North Eastern Scotland</option>
                    <option>Belfast and Northern Ireland</option>
                  </select>
                </div>
                <div class="form-group col-lg-10">
                  <label class="control-label">When do you hope to be running your uk business?</label>
                  <input type="date" required="required" class="form-control" placeholder="dd/mm/yyyy" />
                </div>
                <div class="form-group col-lg-12 push-to-bottom" style="position: absolute; bottom: 2rem; right: 2rem;">
                  <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next<span class="glyphicon glyphicon-triangle-right" style="margin-left:20px;"></span></button>
                </div>
                <div class="form-group col-lg-12 push-to-bottom" style="position: absolute; bottom: 2rem; right: 17rem;">
                  <button class="btn btn-primary prevBtn btn-lg pull-right" type="button" ><span class="glyphicon glyphicon-triangle-left pull-left" style="margin-left:20px;"></span>Previous</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row setup-content" id="step-3">
            <div class="col-lg-12">
              <div class="col-md-12" style="min-height:58rem;">
                <h3 style="margin-bottom: 30px; margin-left: 15px;"> Your Company</h3>
                <div class="form-group col-lg-10">
                  <label class="control-label">Registered company name</label>
                  <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Company Name"  />
                </div>
                <div class="form-group col-lg-10">
                  <label class="control-label">Company website</label>
                  <input type="text" required="required" class="form-control" placeholder="Enter company website" />
                </div>
                <div class="form-group col-lg-8">
                  <label for="country">Headquarters country</label>
                  <select class="form-control" id="country">
                    <option value="" disabled selected>Please select</option>
                    <option>US</option>
                    <option>DE</option>
                    <option>CN</option>
                  </select>
                </div>
                <div class="form-group col-lg-8">
                  <label for="industry">Primary operating industry</label>
                  <select class="form-control" id="industry">
                    <option value="" disabled selected>Please select</option>
                    <option>US</option>
                    <option>DE</option>
                    <option>CN</option>
                  </select>
                </div>
                <div class="form-group col-lg-10">
                  <label class="control-label">Other</label>
                  <input type="text"  class="form-control" placeholder="Enter your email address" />
                </div>
                <div class="form-group col-lg-12 push-to-bottom" style="position: absolute; bottom: 2rem; right: 2rem;">
                  <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next<span class="glyphicon glyphicon-triangle-right" style="margin-left:20px;"></span></button>
                </div>
                <div class="form-group col-lg-12 push-to-bottom" style="position: absolute; bottom: 2rem; right: 17rem;">
                  <button class="btn btn-primary prevBtn btn-lg pull-right" type="button" ><span class="glyphicon glyphicon-triangle-left pull-left" style="margin-left:20px;"></span>Previous</button>
                </div>                    </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>