{% macro section(s, label_backtoTop, language) %}
<section id="{{s.content.title|slug(language)}}">
    <header>
        <h2>{{s.content.title}}</h2>
    </header>

    {{s.content.contents|safe}}

    <a href="#top">{{label_backtoTop}} <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
</section>
{% endmacro %}



{% macro bullet_list(header, list, language) %}
<section class="dit-content-section">
    <div class="container" id="guide">
        <div class="row">
            {% if header %}
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center dit-content-section__heading">{{header.content.title}}</h2>
                <p class="dit-content-section__lead">
                  {{header.content.intro}}
                </p>
            </div>
            {% endif %}
            <ol class="dit-big-list investment-guide-section">
                {% for l in list %}
                <li class="dit-big-list__item--home-guide">
                    <h3><a href="/{{language}}{{l.link}}">{{l.content.title}}</a></h3>
                    {{l.content.contents | safe}}
                </li>
                {% endfor %}
            </ol>
        </div>
</section>
{% endmacro%}


{% macro tiles(header, list, language) %}
  {% if header %}
    <h2 class="text-center dit-content-section__heading">{{header}}</h2>
  {% endif %}
    <ul class="dit-key-sectors-list">
      {% for tile in list %}
      <li class="dit-key-sectors-list__item">
        <div class="dit-key-sectors-list__link-wrap">
            <a href="/{{language}}{{tile.link}}">
              <img src="/assets/img/{{tile.thumbnail}}" class="dit-key-sectors-list__image">
              <span class="dit-key-sectors-list__text">{{tile.content.title}}</span>
            </a>
        </div>
      </li>
      {% endfor %}
    </ul>
{% endmacro %}