{% if locale.language === 'en' %}
<script>
    window.language = 'en';
</script>
{% endif %}
{% if locale.language === 'de' %}
<script>
    window.language = 'de';
</script>
{% endif %}
{% if locale.language === 'zh' %}
<script>
    window.language = 'cn';
</script>
{% endif %}

<script>
    $(document).ready(function () {
        enhance();
        setTimeout(showcontent, 500);
        setTimeout(removeloading, 1000);
        setTimeout(onLoaded, 1005);
    });

    function showcontent() {
        $('.dit-outer-wrap').show();
    }

    function removeloading() {
        $('.dit-loading').fadeOut(300);
    }

    function enhance() {
        enhance_videobg();
        // zoomImageHoverLink();
    }

    function enhance_videobg() {
        if ($('#bgVid').length > 0 || $('#bgImg').length > 0) {
            $('.jumbotron').addClass('bg--transparent');
        }
    }

    function onLoaded() {
        smoothScroll();
        addActive();
    }

    function smoothScroll() {
        //smoothscrolling and positioning
        $('a[href^="#"]').on('click', function (e) {
            // prevent default anchor click behavior
            e.preventDefault();
            // store hash
            var hash = this.hash;
            // animate
            $('html, body').stop().animate({
                scrollTop: $(hash).offset().top
            }, 600, 'swing', function () {
                window.location.hash = hash;
            });
        });
    }

    function addActive() {
        var url = window.location.pathname;
        var language = url.match(/\/\w{2}\//);
        var child = '';
        if (url.match(/\/industries\//)) {
            child = 'industries/';
        } else if (url.match(/\/investment-guide\//)) {
            child = 'investment-guide/';
//        } else if (url.match('\/help\/')) {
//            child = 'help/';
        } else if (url.match(/\/\w{2}\/$/)) {
            child = '';
        }

        if ($('ul.nav a')) {
            $('ul.nav a[href="' + language[0] + child + '"]').parent().addClass('active');
        }
    }

    $(window).on('resize', function () {
        //
    });
</script>
