{% extends "index.html" %}

{% block content %}

{% include "partials/header-nav.html" %}
<div class="jumbotron">
    <div class="container" style="background-color: transparent">
        <img class="dit-sector-hmg_logo" src="../../../assets/img/hmg-logo.png" alt="HMG Logo">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <h1>{{pageTitle}}</h1>
                <p class="text-center">{{intro}}</p>
            </div>
        </div>
    </div>
</div>
<section class="dit-toc">
    {% include "partials/breadcrumb.html" %}
</section>
<br>


{% endblock %}