{% extends "base/content.html" %}
{% import "partials/markups.html" as markups %}

{% block toc %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="dit-toc__heading">{{label_onThisPage}}</h2>
            <ol class="dit-toc__list">
                {% for a in contentBlocks.sections %}
                  <li class="dit-toc__list-item"><a href="#{{a.content.title|slug(language)}}">{{a.content.title}}</a></li>
                {% endfor %}
                {% if contentBlocks.subContent %}
                <li class="dit-toc__list-item"><a href="#sub-sectors">{{label_preWord}}{{contentBlocks.pageHeader.content.title}}{{label_postWord}}</a></li>
                {% endif %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="dit-main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-10">
                {% for a in contentBlocks.sections %}
                  {{ markups.section(a, label_backtoTop, language) }}
                {% endfor %}
                <p class="dit-updated">Page updated {{now()|date}}</p>
            </div>
        </div>
    </div>
    {% if contentBlocks.subContent %}
      <div class="dit-sector-subsectors">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h2 id="sub-sectors">{{contentBlocks.pageHeader.content.title}}{{label_subContent}}:</h2>
                      {{ markups.tiles(list = contentBlocks.subContent, language = language  ) }}
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
</div>
{% endblock %}