{% extends "base/index.html" %}

{% block content %}

{% include "partials/" + language + "/header-nav.html" %}

{% if contentBlocks.pageHeader.heroImage %}
  <style>
      .jumbotron {
          background-image: url("/assets/img/{{contentBlocks.pageHeader.heroImage}}");
          background-size: cover;
      }
  </style>
{% endif %}
<div class="dit-sector-hmg_logo">
    <div class="container">
        <img class="dit-logo" src="/assets/img/hmg-logo.png" alt="HMG Logo">
        <div class="dit-nav-contact">Contact us</div>
    </div>
</div>
<div id="top" class="jumbotron">
    <div class="container" style="background-color: transparent">

        <div class="row">
            <div class="col-sm-8">
                <h1>{{pageTitle}}</h1>
                <p class="text-center">{{contentBlocks.pageHeader.content.contents | safe}}</p>
            </div>
        </div>
    </div>
</div>

<section class="dit-toc">
    {% block toc %}
      {% include "partials/breadcrumb.html" %}
    {% endblock %}
</section>

{% block page_content %}
{% endblock %}

{% endblock %}
