//_breadcrumb.scss

.breadcrumb {
	background: transparent;
	border-bottom: 1px solid #222;
	border-radius: 0;
	color: #999;
	padding: 16px 0 12px 0;

	a {
		color: #fff;
		border-bottom: 1px solid #777;
		padding-bottom: 1px;

		&:hover {
			text-decoration: none;
			color: #639aca;
			border-bottom: 1px solid #639aca;
		}
	}
}