//_btn.scss

.btn {
	background: $link-colour;
	border-radius: 100px;
	font-size: 20px;
	font-weight: 100;
	line-height: 40px;
	padding: 8px 32px 12px 32px;
	color: $white;

	&:hover {
		background: $link-colour-hover;
		color: $white;
	}
}