//_btn.scss

.dit-btn {
  border: 3px solid $link-colour;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 100;
  padding: 8px 40px;
  color: $link-colour;
  background-color: $white;

  &:hover {
    background: $link-colour;
    color: $white;
    font-weight: 300;
  }
}

.dit-btn--sm {
  border: 3px solid $link-colour;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 100;
  padding: 8px 16px;
  color: $link-colour;
  background-color: $white;

  &:hover {
    background: $link-colour;
    color: $white;
    font-weight: 300;
  }
}
