// footer.scss

.dit-footer {
  margin-top: 50px;
  height: 200px;
  background-color: $text-colour !important;

  &--list {
    padding-left: 0;
    > li {
      display: inline-block;
      height: 25px;
      margin-top: 30px;
      padding: 1px 15px 0 0;
      border-right: 1px solid $text-colour;
      &:last-of-type {
        border-right: 0 solid $text-colour;
      }

      a {
        color: $background-colour;
      }
    }
  }

  &--logo {
    > img {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  //
  //@media (max-width: $screen-md-max) {
  //  > li > a {
  //    font-size: 16px;
  //    padding: 24px;
  //  }
  //}
  //
  //@media (max-width: $screen-sm-max) {
  //  > li > a {
  //    font-size: 14px;
  //    padding: 24px 8px;
  //  }
  //}

  @media (max-width: $screen-xs-max) {
    height: 100%;
  }
}