//form-section.scss

.dit-form-section {
  padding: 0;
  margin-top: 60px;
  border: 1px solid $tile-border-colour;
  border-bottom: 5px solid $red-line-colour;
  overflow: hidden;

  &__heading {
    font-size: 40px;
    font-weight: 100;

    @media (max-width: $screen-xs-max) {
      font-size: 40px;
      // text-align: left;
    }
  }

  &__info {
    min-height: 58rem;
    border-right: 1px solid $tile-border-colour;
    padding-left: 24px;

    .light-grey {
      font-weight: 100;
      color: lighten($text-colour, 25%);
    }
  }

  @media (max-width: $screen-xs-max) {
    &__info {
      border-right: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    &__info {
      border-right: 0;
    }
  }

  &__body {
    min-height: 58rem;
  }

  &__step {
    min-height: 58rem;
  }

  .glyphicon-triangle-left {
    margin-top: 6px !important;
  }

}
