//_main-logo.scss

.dit-main-logo {
  position: absolute;
  top: 0;
  left: 20px;
}

.dit-home-hmg_logo {
  float: left;
  height: 32px;
  margin-bottom: 10px;

}

.dit-sector-hmg_logo {
  height: 40px;
  background-color: #555;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.dit-logo {
  height: 32px;
  margin-top: 4px;
}