//main-nav

.dit-main-nav {
  background: $white;


  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }

  @media (max-width: $screen-sm-max) {
    position: relative;
    border-radius: 0;
    padding: 0px 15px 0 59px;

    & > div {
      margin: 0 !important;
    }
  }
}

.navbar {
  border: 0 solid $tile-border-colour;
  border-bottom: 1px solid $tile-border-colour;
  border-radius: 0;
  z-index: 10;
  width: 100%;
  height: 71px;
  top: 40px;
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  height: 40px;
  width: auto;
  margin-left: 0;

  @media (max-width: 767px) {
    margin-left: -45px !important;
  }
  @media (max-width: 991px) and (min-width: 768px) {
    margin-left: -30px !important;

  }
}

.navbar-collapse {
  @media (min-width: $screen-md-min) {
    margin-right: -15px !important;
  }
}

.navbar-toggle {
  margin: 14px 15px 0 0;
}

.navbar-default {
  background: white;
}
