{% macro bullet_list(list, header) %}
<section class="dit-content-section">
    <div class="container" id="guide">
        <div class="row">
            {% if header %}
            <div class="col-md-10 col-md-offset-1">
                <h2 class="text-center dit-content-section__heading">{{header.title}}</h2>
                <p class="dit-content-section__lead">
                  {{header.intro}}
                </p>
            </div>
            {% endif %}
            <ol class="dit-big-list investment-guide-section">
                {% for l in list %}
                <li class="dit-big-list__item--home-guide">
                    <h3><a href="{{l.target}}">{{l.title}}</a></h3>
                    {{l.intro}}
                </li>
                {% endfor %}
            </ol>
        </div>
</section>
{% endmacro%}