<div class="container">
    <ol class="breadcrumb">
        <li>
            {% if language === 'us' %}
            <a href="/">Home</a>
            {% elif language === 'de' %}
            <a href="/de">Home</a>
            {% elif language === 'cn' %}
            <a href="/cn">主页</a>
            {% endif %}
        </li>
        {% if location %}
        {% for elem in location %}
        {% if !loop.last %}
        <li>
            <a href="{{elem.link}}">{{elem.name|unslug}}</a>
        </li>
        {% else %}
        <li>
            {{elem.name|unslug}}
        </li>
        {% endif %}
        {% endfor %}
        {% endif %}
    </ol>
</div>
