<nav class="container dit-footer">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <ul class="dit-footer--list">
                {% if language === 'us' %}
                <li><a href="/">Home</a></li>
                <li><a href="/us/sectors">Sectors</a></li>
                <li><a href="/us/investment-guide">Investment guide</a></li>
                <li><a href="#">Privacy and cookies</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Contact us</a></li>
                {% elif language === 'de' %}
                <li><a href="/de">Home</a></li>
                <li><a href="/de/sektoren">Marktsektoren</a></li>
                <li><a href="/de/investitionsführer">Investitionsführer</a></li>
                <li><a href="#">Datenschutz- und Cookie-Richtlinien</a></li>
                <li><a href="#">Nutzungsbedingungen</a></li>
                <li><a href="#">Kontakt</a></li>
                {% elif language === 'cn' %}
                <li><a href="/cn">主页</a></li>
                <li><a href="/cn/部门">部门</a></li>
                <li><a href="/cn/投资指南">投资指南</a></li>
                <li><a href="#">隐私和cookies</a></li>
                <li><a href="#">条款与条件</a></li>
                <li><a href="#">联系我们</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-2 col-md-offset-1 col-xs-4 col-xs-offset-4 dit-footer--logo">
            <img class="img-responsive" src="/assets/img/HM Gov logo black.png" alt="">
            <img class="img-responsive" src="/assets/img/iigb-logo.png" alt="">
        </div>
    </div>
</nav>

</div>
{% include "scripts.html" %}
</body>
</html>
