<div class="col-md-4">
    <nav id="sidebar-width" class="bs-docs-sidebar hidden-xs hidden-sm dit-resources">
        {% if language === 'de' %}
        <div class="col-md-11 dit-quick-guide-side-de">
        {% else %}
        <div class="col-md-11 dit-quick-guide-side">
        {% endif %}
            {% if language === 'us' %}
            <h2>The UK investment guide</h2>
            <ol>
                <li><a href="/us/investment-guide/establish-a-UK-address">Establish a UK address</a></li>
                <li><a href="/us/investment-guide/apply-for-a-visa">Apply for a visa</a></li>
                <li><a href="/us/investment-guide/open-a-UK-bank-account">Open a UK bank account</a></li>
                <li><a href="/us/investment-guide/register-your-company">Register your company</a></li>
                <li><a href="/us/investment-guide/work-out-your-profit-margins-against-UK-tax">Work out your profit margins against UK tax</a></li>
                <li><a href="/us/investment-guide/understand-UK-employment-law">Understand UK employment law</a></li>
                <li><a href="/us/investment-guide/familiarise-yourself-with-the-legal-framework">Familiarise yourself with the legal framework</a></li>
                <li><a href="#">Speak to the DIT Investment Services Team</a></li>
            </ol>
            {% elif language === 'de' %}
            <h2>Der Investitionsführer für das Vereinigte Königreich</h2>
            <ol>
                <li><a href="/de/investitionsführer/eine-Adresse-im-Vereinigten-Königreich-einrichten">Eine Adresse im Vereinigten Königreich einrichten</a></li>
                <li><a href="/de/investitionsführer/einen-Visumsantrag-stellen">Einen Visumsantrag stellen</a></li>
                <li><a href="/de/investitionsführer/ein-Bankkonto-im-Vereinigten-Königreich-eröffnen">Ein Bankkonto im Vereinigten Königreich eröffnen</a></li>
                <li><a href="/de/investitionsführer/ihr-Unternehmen-anmelden">Ihr Unternehmen anmelden</a></li>
                <li><a href="/de/investitionsführer/wissen-was-nach-Abzug-der-Steuern-von-Ihrem-Gewinn-bleibt">Wissen, was nach Abzug der Steuern von Ihrem Gewinn bleibt</a></li>
                <li><a href="/de/investitionsführer/die-Arbeitsgesetze-des-Vereinigten-Königreichs-kennen">Die Arbeitsgesetze des Vereinigten Königreichs kennen</a></li>
                <li><a href="/de/investitionsführer/über-die-rechtlichen-Rahmenbedingungen-informiert-sein">Über die rechtlichen Rahmenbedingungen informiert sein</a></li>
                <li><a href="/de/investitionsführer/mit-dem-dit-Serviceteam-über-Investitionen-sprechen">Mit dem DIT-Serviceteam über Investitionen sprechen</a></li>
            </ol>
            {% elif language === 'cn' %}
            <h2>英国投资指南</h2>
            <ol>
                <li><a href="/cn/投资指南/确定在英国的地址">确定在英国的地址</a></li>
                <li><a href="/cn/投资指南/申请签证">申请签证</a></li>
                <li><a href="/cn/投资指南/在英国的银行开户">在英国的银行开户</a></li>
                <li><a href="/cn/投资指南/注册您的公司">注册您的公司</a></li>
                <li><a href="/cn/投资指南/根据英国税收计算利润率">根据英国税收计算利润率</a></li>
                <li><a href="/cn/投资指南/了解英国的雇佣法">了解英国的雇佣法</a></li>
                <li><a href="/cn/投资指南/熟悉英国法律体制">熟悉英国法律体制</a></li>
                <li><a href="/cn/投资指南/联系英国贸易投资署">联系英国贸易投资署（DIT）的投资服务团队</a></li>
            </ol>
            {% endif %}
        </div>
    </nav>
</div>
