{% extends "base/index.html" %}
{% import "partials/markups.html" as markups %}

{% block content %}

{% include "partials/header-nav.html" %}

{% include "partials/jumbotron.html" %}

{{contentBlocks.firstSection.content.contents|safe}}

<section class="dit-content-section container">
    <div class="row">
      <div class="col-md-12">
        {{ markups.tiles( header = label_keySectors, list = contentBlocks.tileItems, country = locale.country  ) }}
        <div class="dit-section-cta">
{#          <a href="sectors" class="btn">{{label_allSectors}}</a>#}
          <a href="sectors" class="btn">Discover more</a>
        </div>
      </div>
    </div>
</section>

{{ markups.bullet_list( header = contentBlocks.listHeader, list = contentBlocks.listItems, country = locale.country  ) }}

{% endblock %}

