{% extends "base/index.html" %}
{% import "partials/markups.html" as markups %}

{% block content %}

    {% include "partials/header-nav.html" %}

    {% include "partials/jumbotron-short.html" %}

    <section class="container dit-industries-tiles-landing">
        <div class="row">
            <div class="col-md-12">
                <h2 class="dit-industries-tiles-landing__heading">{{labels.industry_overviews}}</h2>
                <p>{{labels.industry_overviews_intro}}</p>
                {{ markups.tiles(list = contentBlocks.tileItems, country = locale.country  ) }}
            </div>
        </div>
    </section>

{% endblock %}
