{% extends "../home.html" %}

{% block video %}
<!--[if ! IE]><!-->
<p class="text-center">
    <a href="#" class="bg-video-inactive bg-video-play dit-text-decoration-none" data-toggle="modal"
       data-target="#heroVideo">
        <span class="dit-video-anchor">Watch video</span>
        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
    </a>
</p>
<!--<![endif]-->
<!--[if gte IE 9]>

<p class="text-center"><a href="#" class="bg-video-inactive bg-video-play" data-toggle="modal"
                          data-target="#heroVideo">Watch video <span class="glyphicon glyphicon-play-circle"
                                                                     aria-hidden="true"></span></a></p>
<![endif]-->
<!--[if lte IE 8]>
<iframe width="560" height="315" title="YouTube video player" id="yt0" role="presentation"
        src="https://www.youtube.com/embed/yoHrRcKIBKw?controls=0&showinfo=0&origin=https%3A%2F%2Fwww.gov.uk&rel=0&enablejsapi=1&widgetid=1"
        frameBorder="0" allowfullscreen="1"></iframe>
<![endif]-->
{% endblock %}

{% block menu_items %}
<li><a href="#why-uk">Reasons to choose the UK</a></li>
<li><a href="#sectors">Key market sectors</a></li>
<li><a href="#guide">Simple investment guide</a></li>
<li><a href="/us/search">Search</a></li>
{% endblock %}